

h1 {
    background-color: rgb(121, 207, 233);
    padding: 18px;
    border-radius: 20px;
}

/*body styling*/
body {
    background: rgb(107, 113, 117);
}

body h3 {
    background-color: rgb(121, 207, 233);
    padding: 18px;
    border-radius: 20px;
}

/*container settings*/
.container {
    display: flex;
    padding: 20px;
    gap: 50px
}

/*settings for the current daily weather*/
.current-weather {
    background: rgb(121, 207, 233);
    display: flex;
    border-radius: 15px;
    padding: 25px;
    font-size: 14px;
}

/*settings for the 5 day forecast*/
.conditions-cards {
    display: flex;
    padding: 15px;
    border-radius: 20px;
    gap: 20px;
}

.conditions-cards .card {
    background: rgb(121, 207, 233);
    display: inline;
    padding: 25px;
    border-radius: 15px;

}